body {
  font-family: 'Poppins', sans-serif;
  background-color: #eaf6fb;
  margin: 0;
  padding: 0;
  text-align: center;
}

.language-container {
  margin-top: 150px;
}

.lang-btn {
  background-color: #0096c7;
  color: white;
  border: none;
  padding: 12px 25px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.lang-btn:hover {
  background-color: #0077b6;
}

.header {
  background-color: #caf0f8;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin-left: 20px;
}

#languageSelect {
  margin-right: 20px;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #0077b6;
  font-size: 15px;
}

.content {
  width: 80%;
  margin: 40px auto;
}

canvas {
  margin-top: 25px;
}
